@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@800&display=swap");

:root {
  /*color palette*/

  --black-color: #111111;
  --pure-white-color: #ffffff;
  --yellow-color: #f4d04e;
  --grey-color: #7f7f7f;

  /*typography*/

  --base-font: "Figtree", sans-serif;

  /*font-sizes*/

  --font-heading: 1.5em;
  --font-body-m: 1em;
  --font-body-s: 0.875em;

  --font-mob-heading: 1.275em;
  --font-mob-body-m: 0.85em;
  --font-mob-body-s: 0.75em;

  /*spacings*/
  --spacing-24: 1.5em;
  --spacing-14: 0.875em;
  --spacing-12: 0.75em;
  --spacing-8: 0.5em;
  --spacing-4: 0.25em;
}
